.container-login {
    background-color: #fff;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15), 0 1.5px 4px rgba(0, 0, 0, 0.08);
    font-family: 'Roboto', sans-serif;
}

.container-login h1,
p {
    text-align: center;
}

.container-login a {
    text-decoration: none;
    color: #2383E2;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container-login .input-field {
    position: relative;
    width: 100%;
    font-size: 30px;
    height: 50px;
    margin: 30px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(92, 92, 92);
    font-size: 16px;
    padding: 5px 15px
}

.input-field .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.button-login {
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1f883d;
    color: #fff;
    background-color: #1f883d;
    transition: 0.5s ease;
    margin-bottom: 10px;

}

.button-login:hover {
    background-color: #116329;
    transition: 0.5s ease;
}



.link-recover {
    position: absolute;
    top: 56.5%;
    text-align: left;
    font-size: 12px;
}

@media (max-width: 500px) {
    .container-login {
        width: 95vw;
        min-width: 0;
        height: auto;
        min-height: 350px;
        padding: 16px 8px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .container-login .input-field {
        font-size: 18px;
        height: 38px;
        margin: 20px auto 5px auto;
    }

    .input-field input {
        font-size: 14px;
        padding: 4px 8px;
    }

    .button-login {
        font-size: 15px;
        padding: 8px;
        margin-top: 30px;
    }

    .link-recover {
        font-size: 11px;
        top: 55.5%;
        text-align: left;
        position: absolute;
    }
}